body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 36px;
  color: #333333;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.weather-title {
    font-size: 56px
}

input#locationInput,
button {
  display: block;
  margin: 0 auto;
}

#locationInput {
  width: 100%;
  max-width: 300px;
  height: 40px;
  font-size: 20px;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 10px;
}


button {
  margin-top: 10px;
}

#content {
  text-align: center;
}

/* Additional Styles */
.section {
  text-align: center;
  margin-bottom: 30px;
}

.section i {
  font-size: 32px;
  margin-bottom: 15px;
}

.pastel-red {
  color: #ff6961;
}
