<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Issues</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div th:switch="${currentWeather}">
    <h2 th:case="null">No weather yet!</h2>
    <div th:case="*">
        <h2 th:text="'Current Weather in ' + ${currentWeather.location}"></h2>
        <table>
            <thead>
            <tr>
                <th>Temperature</th>
                <th>Humidity</th>
                <th>Wind Speed</th>
                <th>Description</th>
            </tr>
            </thead>
            <tbody>
                <td th:text="${currentWeather.temperature}"></td>
                <td th:text="${currentWeather.humidity}"></td>
                <td th:text="${currentWeather.windSpeed}"></td>
                <td th:text="${currentWeather.description}"></td>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>