<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Current Weather</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>
<body>
<div th:switch="${currentWeather}">
    <h2 th:case="null">No weather yet!</h2>
    <div th:case="*">
        <h1>
            Current Weather in <span th:text="${currentWeather.location}" class="pastel-red"></span>
        </h1>


        <div class="section">
            <i class="fas fa-thermometer-half"></i>
            <p th:text="${currentWeather.temperature}"></p>
        </div>

        <div class="section">
            <i class="fas fa-tint"></i>
            <p th:text="${currentWeather.humidity}"></p>
        </div>

        <div class="section">
            <i class="fas fa-wind"></i>
            <p th:text="${currentWeather.windSpeed}"></p>
        </div>

        <div class="section">
            <i th:class="${@weatherIconUtil.getWeatherIconClass(currentWeather.id)}"></i>
            <p th:text="${currentWeather.description}"></p>
        </div>
    </div>
</div>
</body>
</html>